<!-- app/Resources/views/base.html.twig -->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}Symfony Blog{% endblock %} Symfony Blog</title>
{% block stylesheets %}
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/blog.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>

        
				{% block navigation %}
				<div class="blog-masthead">
					<div class="container">
						<nav class="blog-nav">		
							<a class="blog-nav-item active" href="{{ path('BloggerBlogBundle_homepage') }}">Accueil</a>
							<a class="blog-nav-item" href="http://localhost/symfonyP/web/app_dev.php/register">S'inscrire</a>
							<a class="blog-nav-item" href="http://localhost/symfonyP/web/app_dev.php/login">Se connecter</a>
							<a class="blog-nav-item" href ="{{ path('BloggerBlogBundle_contact') }}">A propos de </a>
						</nav>
					</div>
				</div>
				{% endblock %}
			

    <div class="container">
      <div class="blog-header">
        <h1 class="blog-title"> <a href="{{ path('BloggerBlogBundle_homepage') }}">Notre super blog !</a></h1>
        <p class="lead blog-description"> <a href="{{ path('BloggerBlogBundle_homepage') }}">Le blog officiel de Cyril, Vincent, Cédric, Camille et Laura.</a></p>
		
		
      </div>

      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
				
				
            

            <section class="main-col">
                {% block body %}{% endblock %}
            </section>
			
			
            

			
			      </div>

    </div>  
	<aside class="sidebar">
                {% block sidebar %}
				
			
				
				{% endblock %}
            </aside>
	</div><!-- /.row -->

    </div><!-- /.container -->
			
			
            
                {% block footer %}
                    
					<footer class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
					
                {% endblock %}
            
        </section>

        {% block javascripts %}
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
		
		{% endblock %}
    </body>
</html>