{# src/Blogger/BlogBundle/Resources/views/layout.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/bloggerblog/css/blog.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block sidebar %}
    
	
		<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
          <div class="sidebar-module">
            <h4>Articles les + commentés</h4>
            <ol class="list-unstyled">
              <li><a href="article.php">Sample blog post</a></li>
              <li><a href="article.php">Another blog post</a></li>
              <li><a href="article.php">New feature</a></li>
            </ol>
          </div>

				  <div class="sidebar-module">
					<h4>Nos auteurs</h4>
					<ol class="list-unstyled">
					  <li><a href="author.php">Laura</a></li>
					  <li><a href="author.php">Cyril</a></li>
					  <li><a href="author.php">Vincent</a></li>
					</ol>
				  </div>
        </div><!-- /.blog-sidebar -->


{% endblock %}